.Sidebar{
  position: fixed;
  background: rgb(221, 221, 221);
  width: 11%;
  max-width: 11%;
  overflow: hidden;
  height: 100vh;
  box-shadow: 1px 0 2px rgb(199, 199, 199);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: 123;

  transition: margin-left 370ms linear 0s;
}
.hamburgerClone{
  padding-left: 4.7%;
  padding-top: 2%;
  position: absolute;
  z-index: 122;
}
.hamburgerClone button{
  background: none;
  border: none;
}
.hamburgerClone .fa-bars{
  font-size: 30px;

}
.hamburgerBlock{
  margin-top: 35px;
  padding-bottom: 2px;
}
.hamburgerBlock button{
  background: none;
  border: none;
  font-size: 30px;
}
.hamburgerBlock .fa-bars {
  cursor: pointer;
  transition: transform 200ms linear 0s;
}
.hamburgerBlock .fa-bars:hover{
  transform: scale(1.3);
}
.categories{
  margin-top: 40px;
}
.Sidebar__block{
  text-align: center;
  width: 100%;
}



/* CATEGORIES */
.categories__button{
  width: 100%;
  font-size: 20px;
  padding: 10px 0;
  border: none;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: block;
  width: 100%;
}
.categories__button .fas,
.categories__button .fab {
  margin-right: 15px;
  margin-left: 30px;
}
.categories__button:hover{
  background: rgb(210, 210, 210);

}
