<div class="Nav_bar_m row">
    <input type="checkbox" class="nav_toggle"  id="m_btn">
      <label for="m_btn"> <i class="fas fa-bars"></i> </label>
      <nav>
        <ul>
          <li><a href="/company">О компании</a></li>
          <li><a href="/cooperation">Cотрудничество</a></li>
          <li><a href="/catalog">Каталог</a></li>
          <li><a href="/contacts">Контакты</a></li>
          <li><a href="/buy" >Где купить</a></li>
        </ul>
      </nav>
    </div>
