/server/node_modules


# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/admin-panel/node_modules

# testing
/admin-panel/coverage

# production
/admin-panel/build

# misc
/admin-panel/.DS_Store
/admin-panel/.env.local
/admin-panel/.env.development.local
/admin-panel/.env.test.local
/admin-panel/.env.production.local

/admin-panel/npm-debug.log*
/admin-panel/yarn-debug.log*
/admin-panel/yarn-error.log*
