.Panel{
  width: 100vw;
  height: 100vh;
}
.contentPart{
  position: relative;
  width: 100vw;
  height: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}